<div class="menu-container">
    <div style="padding: 0px 10px;">
        <img src="https://i.imgur.com/LCIMZRi.png" height="50px">
    </div>
    <div style="padding: 0px 10px;">
        <ul nz-menu nzMode="horizontal">
            <li nz-menu-item nzSelected (click)="RedirectToHome()">
                <span nz-icon nzType="mail"></span>
                Home
            </li>
            <li nz-menu-item nzSelected (click)="RedirectToNarutoTopps()">
                <span nz-icon nzType="mail"></span>
                Naruto Topps
            </li>
        </ul>
    </div>
</div>