/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

.ant-menu-item-selected {
    color: black !important;
}

.ant-menu-horizontal>.ant-menu-item::after {
    display: none;
}

.ant-table-placeholder {
    display: none;
}